@page "/test"

@s1
@(s1)
<br />
@{
   Random r = new Random();
}
@(r.Next())
<br />
@(s2)
@{
   @:(s2)
}
@((MarkupString)s2)


<br />
@SelectedValue
<br />
<TelerikButton OnClick="@RetrieveGet">GET </TelerikButton>
<br />
<br />
@*<TelerikDropDownList Data="@orderHists" TextField="ProductName" ValueField="Total" @bind-Value="selectedValue" Size="sm" Id="ddlOrderHist" Width="45%">*@
<TelerikDropDownList Data="@orderHists" @bind-Value="@SelectedValue" TextField="ProductName" ValueField="Total" @ref="@DropDownRef" Size="sm" Id="ddlOrderHist" Width="45%">
   <DropDownListSettings>
      <DropDownListPopupSettings Height="250px"></DropDownListPopupSettings>
   </DropDownListSettings>
   <ItemTemplate>
      <table width="100%">
         <col style="width:80%">
         <col style="width:20%">
         <tbody>
            <tr>
               <td style="border:0">@((context as OrderHist).ProductName)</td>
               <td style="border:0">@((context as OrderHist).Total)</td>
            </tr>
         </tbody>
      </table>
   </ItemTemplate>
</TelerikDropDownList>

<br />
<br />
<button class="btn btn-primary" @onclick="ExportExcel">
   Export Excel
</button>

<TelerikNotification @ref="@NotificationReference" Class="MyTelerikNotification"
                     HorizontalPosition="NotificationHorizontalPosition.Center"
                     VerticalPosition="NotificationVerticalPosition.Top">
</TelerikNotification>

<hr />

<DateField @bind-Date="dte" />
<br />
<br />

<AccountField @bind-Account="account"></AccountField>
<br />
<br />

<ChainedBind @bind-MyPhrase="wwe" />
<br />

<div>
   <ListViewTemplate Items="customers">
      <ItemTemplate Context="customer">
         <ul>
            <li>Name: @customer.Name</li>
            <li>Age: @customer.Age</li>
         </ul>
      </ItemTemplate>
   </ListViewTemplate>
</div>

<style>
   .MyTelerikNotification .k-notification-container .k-notification-wrap {
       width: 300px;
       height: 50px;
       font-size: 1.5em;
       text-align: center;
       align-items: center;
   }
</style>